@import "mocha.css";

* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 15px;
  background-color: @base;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}


#workspaces button {
  color: @lavender;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
}

#network
#bluetooth
#clock,
#tray,
#backlight,
#battery,
#pulseaudio,
#custom-power {
  padding: 0.2rem 0.5rem;
}

#clock {
  color: @blue;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @maroon;
}


#pulseaudio.microphone {
  color: @blue;
}

#network {
    color: @lavender;
}

#bluetooth {
    color: @blue;
}

#custom-power {
    color: @red;
}

